
* {
  font-family: 'Questrial', sans-serif;
  box-sizing: border-box;
}

html {max-width: 100vw; overflow-x: hidden; margin: 0; padding: 0; scroll-behavior: smooth;}
body { margin: 0; top: 0; left: 0;}
a {font-size: 16px; letter-spacing: 1px;}
p {font-weight: 100!important;}
h1 {font-size: 48px; font-weight: 600; font-family: 'Questrial', sans-serif}
h2 {font-size: 36px;}
h3 {font-size: 24px}
h4 {font-size: 24px; font-weight: 200; line-height: 30px; }
.spacer {padding: 2.5vh;}
.thick {font-weight: 800;}
.orange-h2 {color: var(--darkblue); font-size: 48px; font-weight: 100;}
:root {
  --darkblue: #133289;
  --orange: #DD633C;
  --lightblue: #06ACE9;
}

.sqs-block-button-element--small {font-family: 'Questrial', sans-serif!important; font-size: 24px!important; text-transform: capitalize!important; color: var(--orange)!important; padding: 10px 25px!important; font-size: 24px; margin: 10px!important; border-radius: 8px; border: 2px solid var(--orange)!important; background: white!important; cursor: pointer;}
.sqs-block-button-element--medium {font-family: 'Questrial', sans-serif!important; font-size: 24px!important; text-transform: capitalize!important; color: white!important; padding: 10px 25px!important; font-size: 24px; margin: 10px!important; border-radius: 8px; border: 2px solid var(--orange)!important; background: var(--orange)!important; cursor: pointer;}
.sqs-block  {padding: 0!important;}
 .sqs-editable-button {font-family: 'Questrial', sans-serif!important; font-size: 24px!important; text-transform: capitalize!important; color: white!important; padding: 10px 25px!important; font-size: 24px; margin: 10px!important; border-radius: 8px; border: 2px solid var(--orange)!important; background: var(--orange)!important; cursor: pointer;}
.basic-padding{margin: 50px;}
.padding {padding: 25px;}
button {padding: 10px 25px; font-size: 24px; margin: 10px!important;  border: 2px solid var(--orange); cursor: pointer;}
.button {padding: 10px 25px; font-size: 24px; text-decoration: none; margin: 10px!important;  border: 2px solid var(--orange); cursor: pointer;}

button:hover {transform: scale(1.1)}
.solid-button {background: var(--orange);  color: white;}
.inverted-button { background-color: white; color: var(--orange)}
.solid-button:hover {background: white; color: var(--orange); }
.inverted-button:hover {background: var(--orange); color: white; }
.sqs-block-button .sqs-block-button-container--left {margin: 0px 10px}

.white-text {color: white!important;}
.white-text p {color: white!important;}
.box-shadow {box-shadow: 2px 2px 2px rgba(0,0,0,0.25)}
.hover:hover {transform: scale(1.05); cursor: pointer;}

.flex-center-center {display: flex; align-items: center; justify-content: center;}
.flex-start-start {display: flex; align-items: flex-start; justify-content: flex-start;}
.flex-center-flexend {display: flex; align-items: center; justify-content: flex-end;}
.flex-center-start {display: flex; align-items: center; justify-content: flex-start;}
.flex-center-spacebetween {display: flex; align-items: center; justify-content: space-between}
.flex-center-spaceevenly {display: flex; align-items: center; justify-content: space-evenly;}
.flex-center-center-column {display: flex; align-items: center; justify-content: center; flex-direction: column;}
.flex-flexstart-spaceevenly {display: flex; align-items: flex-start; justify-content: space-evenly;}
.flex-start-center {display: flex; align-items: flex-start; justify-content: center;}
.flex-start-spacebetween {display: flex; align-items: flex-start; justify-content: space-between;}
.flex-spacebetween-start {display: flex; -webkit-align-content: space-between; align-content: space-between;  flex-flow: row wrap;  -webkit-flex-flow: row wrap; }
.flex-start-spaceevenly {display: flex; align-items: flex-start; justify-content: space-between;}
.flex-wrap {flex-wrap: wrap;}
.flex-column {flex-direction: column;}

.content-container {padding: 25px;}

// Homepage
header {z-index: 30000; position: absolute; top: 0; left: 0; width: 100vw; }
#hero { height: 95vh; width: 100%; min-height: 650px; }
.site-header {padding: 20px;  }
.logo {max-height: 75px;}

@media screen and (max-width: 825px) {
  #ourFormula {flex-wrap: wrap;}
  #ourFormula svg {order: 2;}
  #hero {height:95vh;}
  .icon-wrapper {flex-wrap: wrap!important;}
}

// icon-container block
.icon-container {border-radius: 20px; background: var(--darkblue); width: 100%; min-width: 170px; max-width: 220px;  margin: 5vh 15px; padding: 25px; height: 325px; text-align: center; color: white; }
.icon-container:hover {transform: scale(1.1); box-shadow: 0px 0px 10px var(--darkblue); cursor: pointer;}
.icon-container h3 {font-weight: 300;}
.icon-container-item { color: white; width: 100%; margin: 15px; text-align: center;}
.icon-image {height: 75px; background-size: 75px; background-position: center center; background-repeat: no-repeat;}

// Site.region
.page-header { z-index: 1;  min-height: 30vh; background-size: cover; background-position: center bottom; padding-top: 135px;}
.page-header-content { padding: 25px; }

// Footer
footer {text-align: center; margin-top: 100px;}
.de-tag {font-size: 10px; text-decoration: none; color: gray; text-align: center; margin-bottom: 25px;}
.footer-navigation .logo {margin: -40px 10px 15px; background: white; padding: 10px;}
.footer-navigation {border-top: 3px solid var(--orange)}

.user-set-bg .sqs-html-content p {color: white!important;}

// Animations
.fade-in-fast{-webkit-animation:fade-in 3.2s cubic-bezier(.39,.575,.565,1.000) both;animation:fade-in 1.2s cubic-bezier(.39,.575,.565,1.000) both}
.fade-in-slow {-webkit-animation:fade-in 5.2s cubic-bezier(.39,.575,.565,1.000) both;animation:fade-in 2.2s cubic-bezier(.39,.575,.565,1.000) both}

 @-webkit-keyframes fade-in{0%{opacity:0}100%{opacity:1}}@keyframes fade-in{0%{opacity:0}100%{opacity:1}}


.scroll-down {
	
	
	bottom: 25px;
	text-align: center;
	font-size: 20px;
	text-decoration: none;
	text-shadow: 0;
  width: 13px;
  height: 13px;
  border-bottom: 2px solid var(--darkblue);
  border-right: 2px solid var(--darkblue);
  z-index: 9;
  left: 50%;
  -webkit-transform: translate(-50%, 0%) rotate(45deg);
  -moz-transform: translate(-50%, 0%) rotate(45deg);
  transform: translate(-50%, 0%) rotate(45deg);
	-webkit-animation: fade_move_down 4s ease-in-out infinite;
	-moz-animation:    fade_move_down 4s ease-in-out infinite;
	animation:         fade_move_down 4s ease-in-out infinite;
}


/*animated scroll arrow animation*/
@-webkit-keyframes fade_move_down {
  0%   { -webkit-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -webkit-transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
@-moz-keyframes fade_move_down {
  0%   { -moz-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -moz-transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
@keyframes fade_move_down {
  0%   { transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { transform:translate(0,10px) rotate(45deg); opacity: 0; }
}

//  Mobile Menu


.methodology {margin: 15px;}
.methodology h3 {font-size: 18px; font-weight: 600;}



/* ----------------------------------------------
 * Generated by Animista on 2023-6-26 16:37:6
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

 @-webkit-keyframes fade-in{0%{opacity:0}100%{opacity:1}}@keyframes fade-in{0%{opacity:0}100%{opacity:1}}

 //Team page
 
.team-card { background-color: #f2f2f2; padding: 20px;}
.team-photo {height:400px; width: 100%; background-size: cover; background-position: center center;}
.grid-container {display: grid; grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); grid-gap: 20px;}


//  Events page
#eventsHeader {height: 500px; background-image: url('../assets/radiuschannels-emboss.png'); background-size: cover; background-position: center bottom;}
#eventsContainer {margin: 50px; border: 1px solid gray;}

#eventList {width: 35%}
#eventDetail {width: 100%;}
.event-container {width: 30vw;}
.full-size-event {padding: 40px 50px; backdrop-filter:  blur(4px);}
.active-event .event {background: rgba(0,0,0,0.1)}
.event-selected-arrow {display: none; z-index: 2; }
.active-event .event-selected-arrow {display: block;}
.event {padding: 15px; border: 1px solid silver;}
.event-image {min-height: 150px; min-width: 150px; width: 150px; height: 150px; background: red; margin-right: 25px;}
.event-selected-arrow {width: 25px; position: absolute; margin-right: -32%;}


// Animations
.fade-in{-webkit-animation:fade-in 0.5s cubic-bezier(.39,.575,.565,1.000) both;animation:fade-in 0.5s cubic-bezier(.39,.575,.565,1.000) both}
.fade-in2{-webkit-animation:fade-in 1s cubic-bezier(.39,.575,.565,1.000) both;animation:fade-in 1s cubic-bezier(.39,.575,.565,1.000) both}
.fade-in3{-webkit-animation:fade-in 2s cubic-bezier(.39,.575,.565,1.000) both;animation:fade-in 2s cubic-bezier(.39,.575,.565,1.000) both}

@-webkit-keyframes fade-in{0%{opacity:0}100%{opacity:1}}
@keyframes fade-in{0%{opacity:0}100%{opacity:1}}


// Suppliers 
#suppliersHeader {height: 500px; background-image: url('../assets/radiuschannels-emboss.png'); background-size: cover; background-position: center bottom;}
.sqs-layout > .sqs-row {margin: 0!important;}
.summary-header-text {font-size: 32px;}