
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
* {
  font-family: 'Questrial', sans-serif;
  box-sizing: border-box;
}

html {max-width: 100vw; overflow-x: hidden; margin: 0; padding: 0; scroll-behavior: smooth;}
body { margin: 0; top: 0; left: 0;}
a {font-size: 16px; letter-spacing: 1px;}
a:hover {text-decoration: underline!important}
p {font-weight: 100}
h1 {font-size: 48px; font-weight: 400; font-family: 'Questrial', sans-serif}
strong {font-weight: 600;}
h2 {font-size: 36px;}
h3 strong {font-size: 24px}
h4 {font-weight: 400;}
h3 {font-size: 24px; font-weight: 200; line-height: 30px; }
h3 a {font-size: 24px; color: inherit; font-weight: 200; line-height: 30px;}
h5 {font-size: 18px; font-weight: 200; line-height: 24px;}
strong {font-weight: 600;}
.strong {font-weight: 600!important;}
.spacer {padding: 2.5vh;}
.thick {font-weight: 800;}
.orange-h2 {color: var(--darkblue); font-size: 48px; font-weight: 100;}
:root {
  --darkblue: #133289;
  --orange: #DD633C;
  --lightblue: #06ACE9;
  --lightgray: #E5E5E5;
  --offwhite: #f2f2f2;
  --fadedblue: #DCE3F1;
}

#home h1 {color: var(--darkblue)}
.bio-wrapper {height: 30vw; width: 24vw; background-size: cover;  background-position: center center; background-repeat: no-repeat; display: flex; align-items: flex-end;}
.bio-content-wrapper {width: 100%; height: 100%; display: flex; align-items: flex-end;}
.bio-content { text-align: center; width: 95%;  background-size: 100% 100%; background-repeat: no-repeat; background-position: center center; padding: 25px 35px;}

.bold-paragraph p {font-size: 1.5em; line-height: 1.75em; color: white;  font-weight: 100;}
.bold-paragraph a {color: white; font-weight: 700;}
.bold-paragraph a:hover {font-weight: 900;}
.bio-title-wrapper {margin-bottom: 15px; text-align: center; width: 100%;}
.family-bio {flex: 1 1 350px; height: 100%; width: 100%; background: linear-gradient(0deg, rgba(0,0,0,0.15730042016806722) 0%, rgba(0,0,0,0) 72%, rgba(0,0,0,0) 100%);}
.family-bio-text {width: 100%; height: 100%; display: flex; align-items: flex-end; background: linear-gradient(0deg, rgba(0,0,0,0.15730042016806722) 0%, rgba(0,0,0,0.039653361344537785) 100%);}

#additionalTeamTitle h1 {text-shadow: 0px 0px 5px black;}
.family-bio-description {height: 100%;  width: 100%; }

.bio-icons-container {display: inline-flex; width: 100%; align-items: center; justify-content: center;}

.family-bio-title { width: 100%; height: 50%;  display: none; align-items: flex-end; justify-content: center; background: linear-gradient(0deg, rgba(0,0,0,0.25730042016806722) 0%, rgba(0,0,0,0.050653361344537785) 100%);}
.family-bio-title-wrapper {margin-bottom: 15px; text-align: center; width: 100%; color: white;}
.family-bio-title-wrapper h6 {margin: 15px 25px;}
.family-bio-title-wrapper h2 {padding: 0px 25px 25px 25px}

.additional-leadership-team {display: inline-flex; flex-wrap: wrap;}

.color-filter {filter: grayscale(100%);}
.color-filter:hover {filter: none;}

.additional-leadership {  background: black;
  height: 20vw; width: 19.2vw; background-repeat: no-repeat; background-size: cover;background-position: center center;
}
.overlay {width: 100%; height: 100%; background-color: rgba(0,0,0,0.45)}


@media screen and (max-width: 800px) {
  #bio-container {display: inline-flexbox; flex-wrap: wrap;}
  .bio-wrapper {width: 50%; height: 50vw;}
  #additionalTeamTitle h1 {font-size: 28px; padding-top: 25vh;}

}



.sqs-block-button-element--small {font-family: 'Questrial', sans-serif!important; font-size: 24px!important; text-transform: capitalize!important; color: var(--orange)!important; padding: 10px 25px!important; font-size: 24px; margin: 10px!important;  border: 2px solid var(--orange)!important; background: white!important; cursor: pointer;}
.sqs-block-button-element--medium {font-family: 'Questrial', sans-serif!important; font-size: 24px!important; text-transform: capitalize!important; color: white!important; padding: 10px 25px!important; font-size: 24px; margin: 10px 0px!important;  border: 2px solid var(--orange)!important; background: var(--orange)!important; cursor: pointer;}
.sqs-block  {padding: 0!important;}
 .sqs-editable-button {font-family: 'Questrial', sans-serif!important; font-size: 24px!important; text-transform: capitalize!important; color: white!important; padding: 10px 25px!important; font-size: 24px; margin: 10px!important; border: 2px solid var(--orange)!important; background: var(--orange)!important; cursor: pointer;}
.basic-padding{margin: 50px;}
.padding {padding: 25px;}
button {padding: 10px 25px; font-size: 24px; margin: 10px 0px!important;  border: 2px solid var(--orange); cursor: pointer;}
.button {padding: 10px 25px; font-size: 24px; text-decoration: none; margin: 10px 0px!important;  border: 2px solid var(--orange); cursor: pointer;}

button:hover {transform: scale(1.1)}
.solid-button {background: var(--orange);  color: white;}
.inverted-button { background-color: white; color: var(--orange)}
.solid-button:hover {background: white; color: var(--orange); }
.inverted-button:hover {background: var(--orange); color: white; }


.outline-button {background: rgba(0,0,0,0); border: 2px solid white; color: white;}
.outline-button:hover {background: var(--darkblue)}

.white-text {color: white!important;}
.white-text p {color: white!important;}
.box-shadow {box-shadow: 2px 2px 2px rgba(0,0,0,0.25)}
.hover:hover {transform: scale(1.05); cursor: pointer;}

.flex-center-center {display: flex; align-items: center; justify-content: center;}
.flex-start-start {display: flex; align-items: flex-start; justify-content: flex-start;}
.flex-center-flexend {display: flex; align-items: center; justify-content: flex-end;}
.flex-center-start {display: flex; align-items: center; justify-content: flex-start;}
.flex-center-spacebetween {display: flex; align-items: center; justify-content: space-between}
.flex-center-spaceevenly {display: flex; align-items: center; justify-content: space-evenly;}
.flex-center-center-column {display: flex; align-items: center; justify-content: center; flex-direction: column;}
.flex-flexstart-spaceevenly {display: flex; align-items: flex-start; justify-content: space-evenly;}
.flex-start-center {display: flex; align-items: flex-start; justify-content: center;}
.flex-start-spacebetween {display: flex; align-items: flex-start; justify-content: space-between;}
.flex-spacebetween-start {display: flex; -webkit-align-content: space-between; align-content: space-between;  flex-flow: row wrap;  -webkit-flex-flow: row wrap; }
.flex-start-spaceevenly {display: flex; align-items: flex-start; justify-content: space-between;}
.flex-baseline-start {display: flex; align-items: flex-end; justify-content: flex-start;}
.flex-end-end {display: flex; align-items: flex-end; justify-content: flex-end;}
.flex-end-center {display: flex; align-items: flex-end; justify-content: center;}
.flex-wrap {flex-wrap: wrap;}
.flex-column {flex-direction: column;}
.flex-center-end {display: flex; align-items: flex-center; justify-content: flex-end;}

.content-container {padding: 25px;}

// Homepage
.home-section { padding: 50px 25px; min-height: 25vh;}
.home-section h3 {color: black;}
.home-section h1 {margin: 0px 0px 25px 0px; min-width: 300px; color: var(--darkblue) }
.home-section-title {padding: 20px;}
.home-section-content { padding: 20px;}

#home-sections-wrapper {margin-top: 100px;}
.methodology img {min-width: 140px;}

.home-section:nth-child(odd) {
  background-color: var(--fadedblue);

}
.home-section:nth-child(even) .home-section-title {
  order: 2;
}

@media screen and (max-width: 1025px) {
  .event-type-toggles h2 {font-size: 18px;}
  .events {display: block;}
  
  .events-summary-list {flex-direction: unset; max-height: unset!important; height: unset!important; min-width: 100%!important; overflow-x: scroll!important;  }
  .events-summary-container {border: 0px solid black!important; border-right: 0.25px solid black!important; min-width: 275px; width: 350px; max-height: unset!important; height: 100%;}

  .events-summary {height: 100%;}
  .event-summary-info {height: 100%;}
  .events-full-size {width: 100%!important;}
  .event-summary-wrapper {height: 100%;}
  .home-section {flex-direction: column;}
  .home-section-title {width: 100%; }
  .home-section-content {margin: 0;}
  .home-section:nth-child(even) .home-section-content {
    order: 2;
  }
  .excerpt {display: none;}
  .icon-container {width: 100%;}
  
  .dashed-line {display: none;}
  .home-section h1 {font-size: 36px;}
  .home-section h3 {font-size: 18px; line-height: 24px;}
  .home-section h3 a {font-size: 18px; color: inherit; font-weight: 200; line-height: 24px;}
}


.logo {max-height: 75px; }

@media screen and (max-width: 825px) {
  #ourFormula {flex-wrap: wrap;}
  #ourFormula svg {order: 2;}
  #hero {height: 74vh!important;}
  .icon-wrapper {flex-wrap: wrap!important;}
}

// icon-container block


// Site.region
#homeHero { min-height: 600px; max-height: 900px; height: calc(80vh - 105px); width: 100vw; height: 80vh; z-index: -1; position: absolute; top: 105px; overflow-y: clip;}
#homeHero .video-player .plyr video {object-fit: cover; overflow-y: clip;}
#hero {max-height: 900px; height: 80vh;   width: 100%; background: rgba(255,255,255,0.35); }
.sqs-native-video .native-video-player {height: 80vh; max-height: 900px;}
.page-header { z-index: 1;  background-size: cover; background-position: center bottom; }
.page-header-content { padding: 25px; }
	.site-navigation-item {color: black; text-decoration: none; font-size: 18px; padding: 0 12px; line-height: 30px; white-space: nowrap; font-style: italic;}
.site-navigation { padding: 15px 20px; background-color: white; }
	.site-navigation-list {list-style-type: none; margin-top: 25px; }
  .nav-arrow {padding: 0px; margin: 0px; position: absolute; top: 91px; opacity: 0; color: var(--darkblue);}
.section-nav { width: 100vw; display: none; }
	.open-nav {height: 100vh!important; background-color: white; z-index: 3000; flex-direction: column; justify-content: center;}
.expanded-mobile-menu-window {background: white; width: 100vw; height: 100vh; z-index: 20000; position: absolute; top: 0; left: 0; display: none;}
.hidden {display: none;}

.nav-drop-down-description p a {background: rgba(0,0,0,0); border: 2px solid white; color: white; padding: 10px 25px; text-decoration: none; font-size: 18px; margin-top: 20px!important; cursor: pointer;}
.nav-drop-down-description br {height: 25px;}


.nav-drop-down-title span p {margin-top: 30px;}


.nav-drop-down-sections-wrapper {width: 66vw; background-color: white; }
.drop-down-wrapper {background: white; border: 2px solid var(--darkblue)}
.nav-drop-down-title {width: 34vw; background-color: #4e72be; padding: 20px; color: white; border-right: 2px solid black; }
.nav-drop-down-section {cursor: pointer;  width: 50%;}
.nav-drop-down-section:hover {background: rgba(0,0,0,0.1);}
.nav-drop-down-section:hover strong {color: var(--orange)}
#drop-down {width: 100vw; z-index: 4000000;}
.drop-down-vendor {padding: 10px; width: 100%; }
.drop-down-description p a{ text-decoration: none; padding: 10px 25px; font-size: 18px; color: white;  border: 2px solid white; cursor: pointer; }
.drop-down-description br {margin-bottom: 15px;}




@media screen and (max-width: 825px) {
  #contactBlock {flex-direction: column;}
  #contactMap {width: 100%;}
  #contactDetails {display: flex; align-items: center; justify-content: center; width: 100%;}
  #contactDetails .social-icon-alignment-left .sqs-svg-icon--list {text-align: center!important}
  #contactInfo {width: 100%; padding: 0px 25px; text-align: center;}
  .site-navigation {flex-wrap: wrap; align-items: center!important; justify-content: center!important;}
  .site-navigation-list {flex-wrap: wrap; justify-content: center!important;}
  .nav-drop-down-title {width: 100%; padding: 0px 15px 15px;}
  .drop-down-wrapper {display: flex; align-items: flex-start; justify-content: flex-start; flex-direction: column;}
  .nav-drop-down-section, .nav-drop-down-sections-wrapper {width: 100%;}
  .nav-drop-down-title {border-right: 0px solid black; border-bottom: 2px solid black;}
  .nav-arrow {position: relative; top: 0; order: -1; transform: rotate(90deg)}
  .nav-drop-down-section:nth-child(odd) {background: rgba(0,0,0,0.15)}
  .site-navigation-item {flex-direction: row;}
  .site-navigation-item a:active {font-weight: 800;}
 
}

/* ----------------------------------------------
 * Generated by Animista on 2023-7-20 13:19:53
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@-webkit-keyframes swing-in-top-fwd{0%{-webkit-transform:rotateX(-100deg);transform:rotateX(-100deg);-webkit-transform-origin:top;transform-origin:top;opacity:0}100%{-webkit-transform:rotateX(0deg);transform:rotateX(0deg);-webkit-transform-origin:top;transform-origin:top;opacity:1}}@keyframes swing-in-top-fwd{0%{-webkit-transform:rotateX(-100deg);transform:rotateX(-100deg);-webkit-transform-origin:top;transform-origin:top;opacity:0}100%{-webkit-transform:rotateX(0deg);transform:rotateX(0deg);-webkit-transform-origin:top;transform-origin:top;opacity:1}}
.drop-down-description p a:hover {background-color: white; color: black;}
.swing-in-top-fwd{-webkit-animation:swing-in-top-fwd .5s cubic-bezier(.175,.885,.32,1.275) both;animation:swing-in-top-fwd .5s cubic-bezier(.175,.885,.32,1.275) both}
// Footer
footer {text-align: center; margin-top: 100px;}
.de-tag {font-size: 10px; text-decoration: none; color: gray; text-align: center; margin-bottom: 25px;}
.footer-navigation .logo {margin: -40px 10px 15px; background: white; padding: 10px;}
.footer-navigation {border-top: 3px solid var(--orange)}

.user-set-bg .sqs-html-content p {color: white!important;}

// Animations
.fade-in-fast{-webkit-animation:fade-in 3.2s cubic-bezier(.39,.575,.565,1.000) both;animation:fade-in 1.2s cubic-bezier(.39,.575,.565,1.000) both}
.fade-in-slow {-webkit-animation:fade-in 5.2s cubic-bezier(.39,.575,.565,1.000) both;animation:fade-in 2.2s cubic-bezier(.39,.575,.565,1.000) both}

.fade-in{animation-delay: 1s; -webkit-animation:fade-in 1.2s cubic-bezier(.39,.575,.565,1.000) both;animation:fade-in 1.2s cubic-bezier(.39,.575,.565,1.000) both}


 @-webkit-keyframes fade-in{0%{opacity:0}100%{opacity:1}}@keyframes fade-in{0%{opacity:0}100%{opacity:1}}

 .slide-in-left{-webkit-animation:slide-in-left .5s cubic-bezier(.25,.46,.45,.94) both;animation:slide-in-left .5s cubic-bezier(.25,.46,.45,.94) both}
/* ----------------------------------------------
 * Generated by Animista on 2023-7-24 17:27:34
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

 @-webkit-keyframes slide-in-left{
  0%{-webkit-transform:translateX(-1000px);transform:translateX(0px);width: 0px;}
  100%{-webkit-transform:translateX(0);transform:translateX(0);width: 250px;}}

  @keyframes slide-in-left{
    0%{-webkit-transform:translateX(-1000px);transform:translateX(0px);width: 0}
    100%{-webkit-transform:translateX(0);transform:translateX(0); width: 250px;}}

.scroll-down {
	
	
	bottom: 25px;
	text-align: center;
	font-size: 20px;
	text-decoration: none;
	text-shadow: 0;
  width: 13px;
  height: 13px;
  border-bottom: 2px solid var(--darkblue);
  border-right: 2px solid var(--darkblue);
  z-index: 9;
  left: 50%;
  -webkit-transform: translate(-50%, 0%) rotate(45deg);
  -moz-transform: translate(-50%, 0%) rotate(45deg);
  transform: translate(-50%, 0%) rotate(45deg);
	-webkit-animation: fade_move_down 4s ease-in-out infinite;
	-moz-animation:    fade_move_down 4s ease-in-out infinite;
	animation:         fade_move_down 4s ease-in-out infinite;
}


/*animated scroll arrow animation*/
@-webkit-keyframes fade_move_down {
  0%   { -webkit-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -webkit-transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
@-moz-keyframes fade_move_down {
  0%   { -moz-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -moz-transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
@keyframes fade_move_down {
  0%   { transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { transform:translate(0,10px) rotate(45deg); opacity: 0; }
}

//  Mobile Menu


.methodology {margin: 15px;}
.methodology h3 {font-size: 18px; font-weight: 600;}



/* ----------------------------------------------
 * Generated by Animista on 2023-6-26 16:37:6
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

 @-webkit-keyframes fade-in{0%{opacity:0}100%{opacity:1}}@keyframes fade-in{0%{opacity:0}100%{opacity:1}}

 //Team page
 
.team-card { background-color: #f2f2f2; padding: 20px;}
.team-photo {height:400px; width: 100%; background-size: cover; background-position: center center;}
.grid-container {display: grid; grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); grid-gap: 20px;}


//  Events page
.events { height: 100%; overflow-y: scroll;}
.events-summary-list {border: 2px inset gray; height: 900px; width: 40%; max-height: 100vh; overflow-y: scroll;}
.events-summary {overflow-y: scroll;  z-index: 2; background-color: white; }
.events-summary-wrapper { cursor: pointer}

.event-summary-info {padding: 25px; }
.events-summary-container {opacity: 0.2; background-color: var(--lightgray); display: none; border: 0.25px solid black;}



.visible-event {display: block!important;}

.event-type-toggles {color: gray;}
.event-type-toggles .active-type-toggle {color: black!important;}

.event-selected {width: 25px; height: 100%; margin-right: -25px;z-index: 3;}
.tag {text-decoration: none;  color: white; background-color: var(--lightblue); border-radius: 15px; padding: 5px 8px; font-size: 14px; }

.event-summary-title h3 {line-height: 24px; margin: 5px 0px; padding-left: 10px; border-left: 3px solid var(--lightblue)}
.event-summary-image-wrapper {padding-right: 10px; border-right: 5px solid var(--lightblue); margin-right: 10px;}
.event-summary-image {height: 175px; width: 150px; min-width: 150px; min-height: 150px; background-size: cover; background-repeat: no-repeat; background-position: center center; border: 1px solid black;}
.event-summary-date {width: 148px; background: var(--orange); color: white; padding: 2px 10px; border-bottom: 1px solid black; text-align: center;}
.excerpt p{max-height: 68px; overflow-y: hidden;}


.selected-event {background-color: white; border: 2px solid black; opacity: 1;}
.events-detail {width: 60%; height: 100%; border-left: 1px solid black; background: var(--offwhite); z-index: 2;}
.full-size-event {height: 100%; width: 100%; }
.hidden-event {display: none;}
.active-event {display: block!important; opacity: 1!important;}
.full-size-event-header {min-height: 200px; }
.full-size-event-header-title {background-color: white; padding: 25px; margin: -150px 25px 0px  }
.full-size-event-header-title h2 {padding-left: 10px; border-left: 5px solid var(--lightblue)}

.full-size-event-header-title-full-page {background-color: white; padding: 25px; border-bottom: 3px solid var(--darkblue); margin-top: -150px; }
.full-size-event-header-full-page {max-height: 300px;  z-index: 1;   width: 100vw; height: 500px; } 



// Animations
.fade-in{-webkit-animation:fade-in 0.5s cubic-bezier(.39,.575,.565,1.000) both;animation:fade-in 0.5s cubic-bezier(.39,.575,.565,1.000) both}
.fade-in2{-webkit-animation:fade-in 1s cubic-bezier(.39,.575,.565,1.000) both;animation:fade-in 1s cubic-bezier(.39,.575,.565,1.000) both}
.fade-in3{-webkit-animation:fade-in 2s cubic-bezier(.39,.575,.565,1.000) both;animation:fade-in 2s cubic-bezier(.39,.575,.565,1.000) both}

@-webkit-keyframes fade-in{0%{opacity:0}100%{opacity:1}}
@keyframes fade-in{0%{opacity:0}100%{opacity:1}}

#contactDetails, #contactMap {min-width: 50%;}


// Suppliers 
#suppliersHeader {height: 500px; background-image: url('../assets/radiuschannels-emboss.png'); background-size: cover; background-position: center bottom;}
.sqs-layout > .sqs-row {margin: 0!important;}
.summary-header-text {font-size: 32px;}

.supplier-card {padding: 40px; margin: 0px 0px 25px; background: var(--lightgray);}
.supplier-title {margin-right: 50px;}
.supplier-logo {width: 250px; height: auto;}
.supplier-logo-lg {width: 350px; margin-bottom: 25px;}
.breadcrumbs-banner {background: white; height: 75px; padding: 25px; margin-bottom: 25px;}
.breadcrumbs, .breadcrumbs a {font-size: 18px; text-decoration: none; color: black;}
.breadcrumbs a:hover {text-decoration: underline; font-weight: 500;}
.breadcrumbs span {color: var(--orange)!important;}

.calendar-event {cursor: pointer; margin: 25px; max-width: 300px; border: 1px solid black;}
.calendar-event-date {height: 200px; width: 200px; padding: 10px;  background-size: 100% 100%;}
.past-event .calendar-summary {opacity: 0.5; background-color: gray!important;}
@media screen and (max-width: 825px) {
  .supplier-card {flex-wrap: wrap;}
 .supplier-title {margin: 0px 0px 25px 0px}
 
}
