
* {
  font-family: 'Questrial', sans-serif;
  box-sizing: border-box;
}

html {max-width: 100vw; overflow-x: hidden; margin: 0; padding: 0; scroll-behavior: smooth;}
body { margin: 0; top: 0; left: 0;}
a {font-size: 16px; letter-spacing: 1px;}
p {font-weight: 100!important;}
h1 {font-size: 48px; font-weight: 600; font-family: 'Questrial', sans-serif}
h4 {font-size: 24px; font-weight: 200; line-height: 30px; }
.spacer {padding: 2.5vh;}
.thick {font-weight: 800;}
.orange-h2 {color: var(--darkblue); font-size: 48px; font-weight: 100;}
:root {
  --darkblue: #133289;
  --orange: #D85E3C;
  --lightblue: #06ACE9;
}

.sqs-block-button-element--small {font-family: 'Questrial', sans-serif!important; font-size: 24px!important; text-transform: capitalize!important; color: var(--orange)!important;
  padding: 10px 25px!important; font-size: 24px; margin: 10px!important; border-radius: 8px; border: 2px solid var(--orange)!important; background: white!important; cursor: pointer;}

.sqs-block-button-element--medium {font-family: 'Questrial', sans-serif!important; font-size: 24px!important; text-transform: capitalize!important; color: white!important;
  padding: 10px 25px!important; font-size: 24px; margin: 10px!important; border-radius: 8px; border: 2px solid var(--orange)!important; background: var(--orange)!important; cursor: pointer;}

  .sqs-block  {padding: 0!important;}

button {padding: 10px 25px; font-size: 24px; margin: 10px!important;  border: 2px solid var(--orange); cursor: pointer;}
.button {padding: 10px 25px; font-size: 24px; text-decoration: none; margin: 10px!important;  border: 2px solid var(--orange); cursor: pointer;}

button:hover {transform: scale(1.1)}
.solid-button {background: var(--orange);  color: white;}
.inverted-button { background-color: white; color: var(--orange)}
.solid-button:hover {background: white; color: var(--orange); }
.inverted-button:hover {background: var(--orange); color: white; }

.sqs-block-button .sqs-block-button-container--left {
  margin: 0px 10px 
}

.box-shadow {box-shadow: 2px 2px 2px rgba(0,0,0,0.25)}
.hover:hover {transform: scale(1.05); cursor: pointer;}

.flex-center-center {display: flex; align-items: center; justify-content: center;}
.flex-center-flexend {display: flex; align-items: center; justify-content: flex-end;}
.flex-center-spacebetween {display: flex; align-items: center; justify-content: space-between}
.flex-center-spaceevenly {display: flex; align-items: center; justify-content: space-evenly;}
.flex-center-center-column {display: flex; align-items: center; justify-content: center; flex-direction: column;}
.flex-flexstart-spaceevenly {display: flex; align-items: flex-start; justify-content: space-evenly;}
.flex-start-center {display: flex; align-items: flex-start; justify-content: center;}
.flex-wrap {flex-wrap: wrap;}


//Hero 
.homepage-hero { height: 100vh;}
.site-header {padding: 20px 10px; margin: 15px; border-radius: 12px; background: white;}
// .white-linear-gradient {background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.8300186285451681) 53%, rgba(255,255,255,1) 100%);  }
.site-navigation { width: 100%; padding: 0px 12.5px;}
.logo {max-height: 75px;}
.mobile-site-navigation-item {font-size: 24px;}
.site-navigation-list {list-style-type: none; padding: 10px; }
.site-navigation-item a {color: black; text-decoration: none; font-size: 16px; margin: 0px 10px; white-space: nowrap;}
.site-navigation-item:hover {font-weight: 700;}
.active-link {text-decoration: underline;}

// video 
.overlay {position: absolute; top: -1vh!important; z-index: -1; left: 0; height: 90vh; width: 100%; }
#heroVideo {position: absolute; top: -1vh!important; z-index: -2; height: 95vh; width: 100vw;  object-fit: cover; min-height: 900px; opacity: 0.5}


#heroButtonBlock {margin-top: 25px;}
#circuit-container {position: absolute; }

.hero-text-container { width: 100%; }

#circuit3 {opacity: 0.13; width: 100vw; min-width: 600px;  }


// Navigation

 @media screen and (max-width: 480px) {
  #circuit3 {
    
    min-width: 900px; left: -250px;
  }
}

 @media screen and (min-width: 680px) {
  #circuit3 {
    
     top: -30vw;
  }
}
.basic-padding{margin: 50px;}

.open-nav {
  height: 100vh!important; 
  background-color: white;
  z-index: 3000;
  position: absolute; 
  flex-direction: column;
  justify-content: center;
}
.expanded-mobile-menu-window {background: white; width: 100vw; height: 100vh; z-index: 20000; position: absolute; top: 0; left: 0; display: none;}


.hidden {display: none;}
.mobile-list {display: flex; align-items: center; justify-content: center; flex-direction: column;}
.mobile-link a {color: black; text-decoration: none; font-size: 24px; white-space: nowrap;}
 .mobile-link {margin: 10px;}
// Hero
.hero {height: 70vh; margin-bottom: 50px; background-position: 0 90%;
}

header {z-index: 30000}
.hero-header-container { z-index: 3; width: 100%; top: 0; left: 0; padding-bottom: 25px;
   
}




canvas { width: 100%; height: 80vh; position: absolute; margin-top: -10vh; }

.hero-message {font-size: 48px; text-align: center;}


// Homepage
.animation-container {
  position: absolute; width: 100%; height: 125vh;  top: -50vh; left: 0;z-index: -2;
}
.container {
  overflow: hidden;
  
  position: absolute; top: 0; left: 0; 
  height: 100vh; width: 100vw;
}

.scroll-arrow-container {
  width: 100%; height: 200px; margin-top: -50px;  padding-top: 50px;
  background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.8300186285451681) 53%, rgba(255,255,255,1) 100%);
}

// icon-container block
.icon-container {border-radius: 20px; background: var(--darkblue); width: 100%; min-width: 170px; max-width: 220px;  margin: 5vh 15px; padding: 25px; height: 325px; text-align: center; color: white; }
.icon-container:hover {transform: scale(1.1); box-shadow: 0px 0px 10px var(--darkblue); cursor: pointer;}
.icon-container h3 {font-weight: 300;}


.icon-container-item { color: white; width: 100%; margin: 15px; text-align: center;}
.icon-image {height: 75px; background-size: 75px; background-position: center center; background-repeat: no-repeat;}

@media screen and (min-width: 680px) {
  .icon-wrapper {flex-wrap: wrap!important;}
}

// Footer
footer {text-align: center;}
.de-tag {font-size: 10px; text-decoration: none; color: gray; text-align: center; margin-bottom: 25px;}

.hamburger-menu {display: none;}


// Animations
.fade-in-fast{-webkit-animation:fade-in 3.2s cubic-bezier(.39,.575,.565,1.000) both;animation:fade-in 1.2s cubic-bezier(.39,.575,.565,1.000) both}
.fade-in-slow {-webkit-animation:fade-in 5.2s cubic-bezier(.39,.575,.565,1.000) both;animation:fade-in 2.2s cubic-bezier(.39,.575,.565,1.000) both}

 @-webkit-keyframes fade-in{0%{opacity:0}100%{opacity:1}}@keyframes fade-in{0%{opacity:0}100%{opacity:1}}


.scroll-down {
	
	
	bottom: 25px;
	text-align: center;
	font-size: 20px;
	text-decoration: none;
	text-shadow: 0;
  width: 13px;
  height: 13px;
  border-bottom: 2px solid var(--darkblue);
  border-right: 2px solid var(--darkblue);
  z-index: 9;
  left: 50%;
  -webkit-transform: translate(-50%, 0%) rotate(45deg);
  -moz-transform: translate(-50%, 0%) rotate(45deg);
  transform: translate(-50%, 0%) rotate(45deg);
	-webkit-animation: fade_move_down 4s ease-in-out infinite;
	-moz-animation:    fade_move_down 4s ease-in-out infinite;
	animation:         fade_move_down 4s ease-in-out infinite;
}


/*animated scroll arrow animation*/
@-webkit-keyframes fade_move_down {
  0%   { -webkit-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -webkit-transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
@-moz-keyframes fade_move_down {
  0%   { -moz-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -moz-transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
@keyframes fade_move_down {
  0%   { transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { transform:translate(0,10px) rotate(45deg); opacity: 0; }
}

//  Mobile Menu

#nav-icon4 {
  width: 40px;
  height: 35px;
  position: relative;
  
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.open {
  order: -1;
}

#nav-icon4 span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #d3531a;
  border-radius: 4px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}


#nav-icon4 span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4 span:nth-child(2) {
  top: 12px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4 span:nth-child(3) {
  top: 24px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -12px;
  left: 8px;
}

#nav-icon4.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#nav-icon4.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 24px;
  left: 8px;
}

.methodology {margin: 15px;}
.methodology h3 {font-size: 18px; font-weight: 600;}